pub struct NewsArticle{
	pub headline:String,
	pub location: String,
	pub author: String,
	pub content: String,
}

impl Summarizable for NewsArticle{
	fn summary(&self) -> String{
		format!("{}, by {} ({}) ",self.headline,self.author,self.location)
	}
}

pub struct Tweet{
	pub username: String,
	pub content: String,
	pub reply: bool,
	pub retweet: bool,
}

impl Summarizable for Tweet{
	fn summary(&self) -> String {
		format!("{}: {}",self.username,self.content)
	}
}

pub trait Summarizable{
	fn summary(&self) -> String;
}

fn main(){
	let article = NewsArticle {
		headline: String::from("Penguins win the Stanley Cup Championship!"),
		location: String::from("Pittsburgh, PA, USA"),
		author: String::from("Iceburgh"),
		content: String::from("The Pittsburgh Penguins once again are the best hockey team in the NHL."),
	};

	println!("New article available! {}", article.summary());
}
